<form [formGroup]="campForm" enctype="multipart/form-data" (submit)="insert()">

  <div class="form-row">
    <div class="form-group col-md-8">
      <ac-label-required name="idNome" label="Nome"></ac-label-required>
      <input formControlName="name" type="text" class="form-control" id="idNome" placeholder="Nome do acampamento">
      <div *ngIf="!name.pristine && name.errors">
        <ac-input-message *ngIf="campForm.get('name').errors?.required" message="Obrigatório *"></ac-input-message>
        <ac-input-message *ngIf="campForm.get('name').errors?.maxlength" message="O campo nome deve ter no máximo 50 caracteres"></ac-input-message>
        <ac-input-message *ngIf="campForm.get('name').errors?.minlength" message="O campo nome deve ter no mínimo 5 caracteres"></ac-input-message>
      </div>
    </div>
    <div class="form-group col-md-4">
      <ac-label-required name="idIdadeMin" label="Idade mínima"></ac-label-required>
      <input formControlName="min_age" type="number" max="5" class="form-control" id="idIdadeMin" placeholder="Idade mínima">
      <div *ngIf="!min_age.pristine && min_age.errors">
        <ac-input-message *ngIf="campForm.get('min_age').errors?.required" message="Obrigatório *"></ac-input-message>
        <ac-input-message *ngIf="campForm.get('min_age').errors?.max" message="Digite uma idade até de 130 anos"></ac-input-message>
      </div>
    </div>
  </div>

  <fieldset class="border p-2">
    <legend class="w-auto">Data do acampamento</legend>
    <div class="form-row">
      <div class="form-group col-md-6">
        <ac-label-required name="idDataInicio" label="Ínicio"></ac-label-required>
        <input formControlName="initial_date" type="date" class="form-control" id="idDataInicio">
        <div *ngIf="!initial_date.pristine && initial_date.errors">
          <ac-input-message *ngIf="campForm.get('initial_date').errors?.required" message="Obrigatório *"></ac-input-message>
          <ac-input-message *ngIf="campForm.get('initial_date').errors?.dataMenorQueAtual" message="O campo Ínicio é menor ou igual data a atual"></ac-input-message>
        </div>
      </div>
      <div class="form-group col-md-6">
        <ac-label-required name="idDataFim" label="Fim"></ac-label-required>
        <input formControlName="final_date" type="date" class="form-control" id="idDataFim">
        <div *ngIf="!final_date.pristine && final_date.errors">
          <ac-input-message *ngIf="campForm.get('final_date').errors?.required" message="Obrigatório *"></ac-input-message>
          <ac-input-message *ngIf="campForm.get('final_date').errors?.dataMenorQueAtual" message="Data menor ou igual data a atual"></ac-input-message>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-row mt-4">
    <div class="form-group col-md-12">
      <ac-label-required name="idInfo" label="Informações"></ac-label-required>
      <textarea formControlName="info" class="form-control" id="idInfo" rows="3"></textarea>
      <div *ngIf="!info.pristine && info.errors">
        <ac-input-message *ngIf="campForm.get('info').errors?.required" message="Obrigatório *"></ac-input-message>
        <ac-input-message *ngIf="campForm.get('info').errors?.maxlength" message="O campo informações deve ter no máximo 250 caracteres"></ac-input-message>
      </div>
    </div>
  </div>

  <fieldset class="border p-2">
    <legend class="w-auto">Endereço</legend>
    <div class="form-row">
      <div class="form-group col-md-4">
        <ac-label-required name="idCEP" label="CEP"></ac-label-required>
        <input formControlName="cep" type="text" class="form-control" id="idCEP" (blur)="searchCEP()" mask="00000-000" showMaskTyped="true">
        <div *ngIf="!cep.pristine && cep.errors">
          <ac-input-message *ngIf="campForm.get('cep').errors?.required" message="Obrigatório *"></ac-input-message>
          <!-- <ac-input-message *ngIf="campForm.get('cep').errors?.cepTaken" message="O CEP digitado não existe"></ac-input-message> -->
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="idRua">Rua</label>
        <input formControlName="street" type="text" class="form-control" id="idRua" disabled>
      </div>
      <div class="form-group col-md-2">
        <ac-label-required name="idNum" label="Nº"></ac-label-required>
        <input formControlName="number" type="text" class="form-control" id="idNum">
        <div *ngIf="!number.pristine && number.errors">
          <ac-input-message *ngIf="campForm.get('number').errors?.required" message="Obrigatório *"></ac-input-message>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="idBairro">Bairro</label>
        <input formControlName="neighborhood" type="text" class="form-control" id="idBairro" disabled>
      </div>
      <div class="form-group col-md-4">
        <label for="idCidade">Cidade</label>
        <input formControlName="city" type="text" class="form-control" id="idCidade" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="idEstado">Estado</label>
        <input formControlName="uf" type="text" class="form-control" id="idEstado" disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="idComplemento">Complemento</label>
        <input formControlName="complement" type="text" class="form-control" id="idComplemento">
      </div>
    </div>
  </fieldset>
  <div class="form-row mt-4">
    <div class="form-group col-md-12">
      <ac-label-required name="idImagem" label="Imagem"></ac-label-required>
      <input formControlName="camp_image" type="file" accept="image/*"
      (change)="handleFile($event.target.files[0])" class="form-control p-1">
      <div *ngIf="!camp_image.pristine && camp_image.errors">
        <ac-input-message *ngIf="campForm.get('camp_image').errors?.required" message="Obrigatório *"></ac-input-message>
      </div>
    </div>
  </div>
  <button [disabled] ="campForm.invalid || campForm.pending" type="submit" class="btn btn-primary btn-lg btn-block mt-3" *ngIf="campId == 0; else update"><a data-toggle="tab" href="#attraction"></a>Salvar</button>

  <ng-template #update>
    <button [disabled] ="campForm.invalid || campForm.pending" type="submit" class="btn btn-danger btn-lg btn-block mt-3"><a data-toggle="tab" href="#attraction"></a>Atualizar</button>
  </ng-template>
</form>