<ac-container-fluid>
  <button class="btn btn-primary mb-1">Cadastrar</button>
  <div class="bg-white">
    <!-- Vai vir todos do select e adicionados automaticamente de camp -->
    <div *ngFor="let cols of rows" class="row no-gutters">

      <div acDarkenOnHover *ngFor="let camp of cols" class="col-md-4 no-gutters p-1">
        <a [routerLink]="['/manage-camps', camp.id]">
          <ac-camp
            url="{{ camp.images[0].path }}"
            title="{{ camp.name }}" info="{{ camp.info }}"></ac-camp>
        </a>
      </div>

    </div>
  </div>
</ac-container-fluid>
