<div class="card mb-3" style="max-width: 540px;">

  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="src" class="card-img" alt="..." height="250" width="100%">
    </div>
    <div class="col-md-8">
      <ac-card-body title="teste do teste">
        <ac-card-text text="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></ac-card-text>
        <ac-card-text text="TESTE"></ac-card-text>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </ac-card-body>
    </div>
  </div>
</div>