a {
    color: #FFF !important;
}

span {
    color: #FFF !important;
}

.cursor-pointer {
    cursor: pointer;
}

.y {
    padding-top: 1%;
}

.mg {
    margin: 0 1% 0 1%;
}

.large {
    width: 15%;
}