<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">ACAMP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-1 active">
          <a class="nav-link " href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" href="#">Acampamentos</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" href="#">Como funciona?</a>
        </li>
        <li class="nav-item mr-1">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
      <span hidden class="navbar-text">
        UserName
      </span>
      <span class="navbar-text">
        <a [routerLink]="['']">Log-in</a> ou <a [routerLink]="['register']">Registre-se</a>
      </span>
    </div>
  </nav>
</header>
