  <header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
      <a class="navbar-brand" href="#">ACAMP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-1 active">
            <a class="nav-link " href="#"> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link" href="#">Acampamentos</a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link" href="#">Como funciona?</a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>

        <!-- Botão para o menu quando logado -->
        <div class="navbar-text btn-group" *ngIf="(user$ | async) as user; else login">

          <button class="btn btn-secondary btn dropdown-toggle " type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span *ngIf="(user$ | async) as user; else login">
              <i class="fa fa-user-circle ml-2"></i>
              <a class="ml-2 mr-2">{{ user.username }}</a>
            </span>
          </button>
          <div class="dropdown-menu dropdown-menu-right bg-secondary">

            <button [routerLink]="['my-acamps']" class="dropdown-item bg-secondary" type="button">
              <a class="cursor-pointer">
                <i class="fa fa-cog mr-1" aria-hidden="true"></i>Meus Acampamentos
              </a>
            </button>

            <button [routerLink]="['camps']" class="dropdown-item bg-secondary" type="button" *ngIf="user.adm">
              <a class="cursor-pointer">
                <i class="fa fa-cog mr-1" aria-hidden="true"></i>Gerenciar Acampamentos
              </a>
            </button>

            <button class="dropdown-item bg-secondary" type="button" *ngIf="(user$ | async) as user;">
              <a class="cursor-pointer" (click)="logout()">
                <i class="fa fa-power-off mr-1" aria-hidden="true"></i>(Logout)
              </a>
            </button>
          </div>
        </div>

        <!-- Quando não está logado -->
        <ng-template #login>
          <span class="navbar-text">
            <a [routerLink]="['']">Log-in</a> ou <a [routerLink]="['register']">Registre-se</a>
          </span>
        </ng-template>

      </div>

    </nav>
  </header>
