<a [routerLink]="['/manage-camps', campId,'attraction', 0]"><button class="btn btn-primary mb-1">Cadastrar</button></a>
<!-- Exibir as atrações referentes ao acampamento selecionado -->

<!-- <ac-card-list (idClicked)="searchAcampById($event)" [dados]="attractions.attractions"></ac-card-list> -->
<ac-card-list [dados]="attractions.attractions"></ac-card-list>
<!-- <ac-paginate (actualPage)=receiveActualPage($event) [first]="paginate.first" [last]="paginate.last"
  [self]="paginate.self" [next]="paginate.next" [totalPages]=" paginate.totalPages" [page]="paginate.page">
</ac-paginate> -->
