<a [routerLink]="['/manage-camps', campId,'attraction', 0]"><button class="btn btn-primary mb-1">Cadastrar</button></a>
<!-- Exibir as atrações referentes ao acampamento selecionado -->

<!-- <div class="bg-white">

  <div *ngFor="let cols of rows" class="row no-gutters">

    <div acDarkenOnHover *ngFor="let camp of cols" class="col-md-4 no-gutters p-1">
      <a (click)="searchAcampById(camp.id)">
        <ac-card [url]="camp.images[0].path" [title]="camp.name" [info]="camp.info" [update]="camp.updatedAt"></ac-card>
      </a>
    </div>
  </div>
</div> -->
