<ac-container-fluid>
  <!-- fazer consulta no banco e buscar as imagens com um forzão kkk-->
  <!-- Teste -->
  <div class="row">
    <div class="col">
      <ac-card src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/artigos/images/capturar1452194585.JPG"></ac-card>
    </div>
    <div class="col">
      <ac-card src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/artigos/images/capturar1452194585.JPG"></ac-card>
    </div>
    <div class="col">
      <ac-card src="https://lh3.googleusercontent.com/proxy/AFfDrfLCf7fN6HrH9J9YYCbhTTCQ7xkF-4FlmhfMD8dzCZc--5gDuaO_gx4BSGPGD6o3CxpooTBjpng6QRHWYsewRQD9p13GqZJMkGA4zjT5GfK0-gRPEg49dtjzwmPQ3Dp7QfwUDwKDenFBfvLOZP5fMxL0"></ac-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ac-card src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/artigos/images/capturar1452194585.JPG"></ac-card>
    </div>
    <div class="col">
      <ac-card src="https://lh3.googleusercontent.com/proxy/AFfDrfLCf7fN6HrH9J9YYCbhTTCQ7xkF-4FlmhfMD8dzCZc--5gDuaO_gx4BSGPGD6o3CxpooTBjpng6QRHWYsewRQD9p13GqZJMkGA4zjT5GfK0-gRPEg49dtjzwmPQ3Dp7QfwUDwKDenFBfvLOZP5fMxL0"></ac-card>
    </div>
    <div class="col">
      <ac-card src="https://thumbs.jusbr.com/imgs.jusbr.com/publications/artigos/images/capturar1452194585.JPG"></ac-card>
    </div>
  </div>
</ac-container-fluid>
