<div class="bg-primary template">
  <ac-container>
    <div class="row">
      <div class="col-md-6">
        <ac-carousel>
          <ac-item-carousel class="carousel-item active" src="/assets/img/home/1.jpg" alt="Primeiro Slide"></ac-item-carousel>
          <ac-item-carousel class="carousel-item" src="/assets/img/home/2.jpg" alt="Segundo Slide"></ac-item-carousel>
          <ac-item-carousel class="carousel-item" src="/assets/img/home/3.jpg" alt="Terceiro Slide"></ac-item-carousel>
          <ac-item-carousel class="carousel-item" src="/assets/img/home/4.jpg" alt="Quarto Slide"></ac-item-carousel>
          <ac-item-carousel class="carousel-item" src="/assets/img/home/5.jpg" alt="Quinto Slide"></ac-item-carousel>
          <ac-item-carousel class="carousel-item" src="/assets/img/home/6.jpg" alt="Sexto Slide"></ac-item-carousel>
        </ac-carousel>
      </div>
      <div class="col-md-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ac-container>
</div>
